.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-connect {
  display: flex;
}
.footer-adress {
  margin-right: 70px;
}
.footer-logo {
  margin-bottom: 20px;
  display: block;
}
.logo-white {
  color: var(--header-color);
}
.footer-item {
  font-style: normal;
}
.footer-link-map {
  color: var(--header-color);
}
.footer-link-mail,
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-mail,
.footer-link-tel,
.footer-link-map {
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
